{% extends 'base.html' %}

{% load static %}



{% block content%}
{% include 'players/nav.html' %}

<div class="right_col" role="main">
   
        <div class="">
            <div class="page-title">
            <div class="title_left">
            <h3>Reports for  <small></small></h3>
        </div>
                 
        </div>
     
        <br>
      
        <div class="clearfix"></div>

        <div class="row">
      
        <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <a href="{% url 'conditioning:players' %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back </a>
                       
                     <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

{% if report %}

<div class="table-responsive">
  <table class="table table-striped jambo_table bulk_action">
    <thead>
      <tr class="headings">

        <th class="column-title">Date </th>
        <th class="column-title">Bench</th>
        <th class="column-title">Squats</th>
        <th class="column-title">V Jumps</th>
        <th class="column-title">H Jumps </th>
        <th class="column-title">Yoyo</th>
        <th class="column-title">T test R</th>
        <th class="column-title">T test L</th>
        <!--
        <th class="column-title">Chest</th>
        <th class="column-title">Bicep</th>
        <th class="column-title">Waist</th>
        <th class="column-title">Hip</th>
        <th class="column-title">Thigh</th>
      -->
        <th class="column-title">10M</th>
        <th class="column-title">40M</th>
        <th class="column-title">60M</th>
        <th class="column-title no-link last"><span class="nobr"></span>
        
        
      </tr>
    </thead>

    <tbody>
      
{% for r in report %}
      <tr class="even pointer">

        <td class="">{{ r.created_at }}</td>
        <td class=" ">{{ r.bench }} kgs</td>
        <td class=" ">{{ r.squats }} Kgs</td>
        <td class=" ">{{ r.v_jumps }} Cm</td>
        <td class=" ">{{ r.h_jumps }} Cm</td>
        <td class=" ">{{ r.yoyo }} M</td>
        <td class=" ">{{ r.t_test_right }} M</td>
        <td class=" ">{{ r.t_test_left }} M</td>
<!--
        <td class=" ">{{ r.chest }} Cm</td>
        <td class=" ">{{ r.bicep }} Cm</td>
        <td class=" ">{{ r.waist }} Cm</td>
        <td class=" ">{{ r.hip }} Cm</td>
        <td class=" ">{{ r.thigh }} Cm</td>
    --> 
        
        <td class=" ">{{ r.m10 }} Sec</td>
        <td class=" ">{{ r.m40 }} Sec</td>
        <td class=" ">{{ r.m60 }} Sec</td>
        <td class=" last"><a href="{% url 'conditioning:edit' r.id %}" class="btn btn-round btn-success btn-xs">Update</a>

{% endfor %}
        
      </tr>
      
    </tbody>
  </table>

  {% else %}
    <p><strong>No Reports are available for the player.</strong></p>
{% endif %}

</div>
              
            
                  



  

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}